.book {
  width: 200px;
  margin: 10px;
  text-decoration: none;
  text-align: center;
  justify-content: flex-start;

  &-link {
    text-decoration: none !important;
    color: black;

    &-div {
      margin: 10px;

      &-button {
        float: right;
      }
    }

    &-img {
      height: 140px;
    }

    &-title {
      font-size: 16px;
      height: 60px;
      overflow: hidden;
    }

    &-author {
      font-size: 14px;
    }
  }

  &-wishlist {
    display: flex;
    padding: 10px;
    margin: 10px;
    width: 70%;
    margin: 0 auto;
  }
}

.books-parent {
  display: flex;
}
