.table {
  &-row {
    &-book {
      &-link {
        display: flex;
        text-decoration: none !important;
      }

      &-image {
        height: 100px;

        &-div {
          display: flex;
          width: 80px;
          justify-content: center;
        }
      }

      &-div {
        margin-left: 10px;
      }

      &-title {
        color: black;
      }
    }
  }

  &-info {
    background-color: transparent !important;
    padding: 30px 0;
    text-align: center;
  }
}
